<h2>My Itinerary</h2>

<br/><br/>
<div class="row">
    <div class="col-md-6">
        <table style="width:100%">
            Your personal itinerary is empty.
        </table>
    </div>
    <div class="col-md-6">
        <strong>Save your itinerary?</strong><br/>
        By saving your personal itinerary, you'll be able to continue off where you left by logging in.
        <br /><br />
        <i>How?</i><br />
        1. Plan your itinerary.<br />
        2. Enter a nickname below.<br />
        3. A pin will be generated.<br />
        4. Login with your nickname and pin to retrieve your saved itinerary.<br />
        <br/>
        <table style="width:100%">
            <tr>
                <td>Nickname: </td>
                <td><input type="text" name="nickname"/>
                <input type="submit" value="Submit"/></td>
            </tr>
            <tr>
                <td>PIN: </td>
                <td><input type="text" name="nickname" disabled /></td>
            </tr>
        </table>
        <br/>
        Already have a PIN? <a href="">Sign in</a> here.
    </div>
</div>