<ul class="nav navbar-nav navbar-right">
    @if (Session["loggedInUser"] != null)
    {
        <li>@Html.ActionLink(Session["loggedInUser"] + "'s Itinerary", "Save", "Personal_Itineraries")</li>
        <li>
            @Html.ActionLink("Log Out", "LogOut", "Personal_Itineraries")
        </li>
    }
    else
    {
        <li>@Html.ActionLink("My Itinerary", "Save", "Personal_Itineraries")</li>
        <li>@Html.ActionLink("Sign In", "SignIn", "Personal_Itineraries")</li>
    }
</ul>