<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("My Itinerary", "Save", "Personal_Itineraries")</li>
    <li>@Html.ActionLink("Sign In", "SignIn", "Personal_Itineraries")</li>
</ul>